:root {
    background-color: #2e3245;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    position: fixed;
    bottom: 8px;
    left: 8px;
    font-size: 20px;
    color: #fafafa;
}

a {
    text-decoration: underline;
    color: #fafafa;
}

button {
    background-color: #4f5881; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
}
